    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Welcome</p>
                <div class="list-group">
                    <a href="#/myaccount" class="list-group-item">My Account</a>
                    <a href="#/register" class="list-group-item">Register</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
                <div ng-view></div>
        </div>   
    </div>