
<div class="container">
	<div class="col-sm-2 col-lg-8 col-md-8">
	    <div class="well">
	      Search: <input ng-model="query">
	      Sort by:
	      <button ng-click="order('name')">Name</button>
	         <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
	      <button ng-click="order('releaseDate')">{{buttonText}}</button>
	         <span class="sortorder" ng-show="predicate === 'releaseDate'" ng-class="{reverse:reverse}"></span>
	    </div>
	</div>
	<div class="col-sm-8 col-lg-8 col-md-8">
	    <ul class="widget-products">
	        <li ng-repeat="game in games | filter:{name: query } | orderBy:predicate:reverse">
	           <span class="img">
	           <img class="img-thumbnail" ng-src="assets/images/{{game.menuImg}}" alt="">
	           </span>
	           <span class="product clearfix">
	           <span class="name">

	           {{game.name}}

	           </span>
	           <span class="price">
	           <span class="glyphicon glyphicon-euro"></span>
	           {{game.price}}
	           </span>
	           <span class="warranty">
	           {{game.snippet}}
	           </span>
	            <a href="gameDetail/{{game._id}}"  class="btn btn-primary">Read More</a>
	           </span>
	        </li>
	    </ul>  
	</div>
</div>

